@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>

<body>
    <div class="cabecalho">
        <h1> Bem-vindo ao fórum dos starters! </h1>
        <h5> #VamosVoarJuntos🚀🚀 #ProudToBeGft💙 </h5>
    </div>
    <div class="pageCenter">
        <div class="cardEsquerda efeito-card csharp">
            <div class="conteudo">
                <div class="titulo-esquerdo">
                    <p class="titulo"> STARTERS </p>
                </div>
                <div class="icone">
                    <img src="~/Images/macoratti.png">
                </div>
                <div class="texto-esquerdo">
                    <p class="tecnologia"> .NET </p>
                </div>
                <div class="botao">
                    <a href="#" class="btn btn-dark btn-lg"> Sou Csharpeiro (a)! </a>
                </div>
            </div>
        </div>
        <div class="cardDireita efeito-card">
            <div class="conteudo">
                <div class="titulo-direito">
                    <p class="titulo"> STARTERS </p>
                </div>
                <div class="texto-direito">
                    <p> ☕ Java </p>
                </div>
                <div class="botao">
                    <a href="#" class="btn btn-dark btn-lg"> Sou Javeiro(a)! </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
